/* App.css */

@charset "utf-8";


/* initialize css */

html, body {
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

ul, li, dt, dd {
    list-style-type: none;
}